<h1>Angebotsbeschreibung:</h1>
<p style="margin:0;height:0.6em"></p>
<p style="margin:0;height:0.6em"><span style="font-size: 10pt;"><b>Im Angebot enthaltene Leistungen</b></span><br></p><p></p>
	<ul>
		<li>Auflistung 1</li>
		<li>Auflistung 2</li>
		<li>Auflistung 3</li>
		<li>Auflistung 4</li>
	</ul>
<p style="margin:0;height:0.6em"><span style="font-size: 10pt;"><b>Im Angebot nicht enthaltene Leistungen</b></span><br></p><p></p>
	<ul>
		<li>Auflistung 1</li>
		<li>Auflistung 2</li>
		<li>Auflistung 3</li>
		<li>Auflistung 4</li>
	</ul>
<p style="margin:0;height:0.6em"><span style="font-size: 10pt;"><b>Allgemeine Punkte | Bemerkungen</b></span><br></p><p></p>
	<ul>
		<li>Auflistung 1</li>
		<li>Auflistung 2</li>
		<li>Auflistung 3</li>
		<li>Auflistung 4</li>
	</ul>
<p style="margin:0;height:0.6em"></p>
<p>weiterer Text</p>
<p style="margin:0;height:0.6em"></p>
<p style="margin:0;height:0.6em"></p>
<p>Text-Ende</p>


		
